body{
    font-family: Arial, Helvetica, sans-serif;
}

.box-wrapper{
    border: 10px solid black;
    display: flex;
   max-width: 1200px;
}

.box{
    border: 1px solid #666;
    flex-basis: 300px;
    /* flex-grow: 1; */
}

.box1{
    background-color: lightblue;
    /* flex-grow: 2; */
}

.box2{
    background-color: lightcoral;
    /* flex-grow: 1; */
}

.box3{
    background-color: lightgrey;
    /* flex-grow: 1; */
}

.box4{
    background-color: lightsalmon;
}

.box5{
    background-color: lightslategray;
}